.listContainer {
  flex: 1;
  overflow: auto;
}

.listContainer::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.items {
  display: flex;
  gap: 8px;
  padding: 8px;
  flex-wrap: wrap;
}

.item {
  padding: 2px 6px;
  border-radius: 8px;
  transition: opacity 0.3s;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

.scheduleItem,
.taskItem {
  border: none;
}
