.container {
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
}

.content {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin: 0 auto;
  opacity: 0.5;
  padding: 2px 0 0;
  transition: background 0.3s;
  &:hover {
    background: var(--gray-background-color);
  }
}

.isToday .content {
  background: var(--button-color);
  color: #fff;
}
.isToday.isSun .content .date,
.isToday.isSat .content .date {
  color: #fff;
}

.isThisMonth .content {
  opacity: 1;
}

.isSun .date {
  color: var(--red);
}

.isSat .date {
  color: var(--blue);
}

.counters {
  width: 36px;
  margin: 0 auto;
  font-size: 7px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}
